*{
    margin: 0;
    padding: 0; 
}

body{
    font-family:Arial, Helvetica, sans-serif;
    
}

.main-container{
    display: flex; 
    box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
   

}
.form-container{
    display: flex;
    flex-direction: column;
    border: 10px;
    border-color:rgb(9, 9, 9);
    width: 40%;
    height: 300px;
    margin: 1cm;
    align-items: center;
    box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;


}
.form-box{
    border: 10px;
    border-color:black;

}

.nav{
    width: 100%;
    justify-content: center;
    padding: 10px;
    text-align:right;
    background-color: #333;    
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}
.nav-text{
    margin-right: 70px;
}

a{
    text-decoration: none;
    color: white;
    font-size: 25px;
    box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
}
